
@{
    ViewData["Title"] = "No Transactions";
}

<h1 class="display-4">No Transactions</h1>
<div>
    <p>Uh oh... looks like there are no transactions in the range and dates that you have chosen.</p>
</div>
<br>
<br>
<br>
<br>
<div>
    <a asp-action="Index">Back to Home Page</a>
</div>

