@using Microsoft.AspNetCore.Http


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NWBA Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                @{
                    // Boolean - if Session object contains name of customer, means it is logged in
                    var isLoggedIn = Context.Session.GetInt32(nameof(AdminLogin.AdminLoginID)).HasValue;
                }


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav">


                        <!-- If admin is logged, fetch session to display the name of customer -->
                        @if (isLoggedIn)
                        {

                            <li class="nav-item">
                                <!-- NOTE: NEED TO CREATE LOGOUT FUNCTION-->
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>
                        }

                    </ul>


                    <ul class="navbar-nav flex-grow-1">

                        @if (isLoggedIn)

                        {
                            <i class="fas fa-users-cog"></i>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admins" asp-action="Index">NWBA Admin | Grow Your Livelihood</a>
                            </li>
                        }
                        else
                        {
                            <i class="fas fa-users-cog"></i>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">NWBA Admin | Grow Your Livelihood</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Assignment3Client - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/3456e330ee.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
